section {
    color: black;
    background-color: white;
    margin: 0;
}

section h1 {
    text-shadow: 2px 2px gray;
}

textarea {
    resize: both;
}

input {
    border: #161616 solid 1px;
}

input[type="text"] {
    padding: 9px 33px 9px 10px;
    border-radius: 6px;
    margin: 2px;
}

input[type="submit"] {
    color: #40aed7;
    padding: 10px;
}

#header {
    background-color: #EDEDED;
    height: 80px;
    border-radius: 10px;
    margin: 20px 20px 40px 20px;
}

#header h1 {
    margin: 0;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
}

#header h1::first-letter {
    font-size: 30px;
}

.td_left {
    background-color: rgb(224, 222, 222);
}

#qualify input {
    border: none;
}

#qualify {
    border: 1px solid black;
    padding: 2px;
}

#qualify td {
    border: 1px solid black;
}