.main_section {
    margin: 0 auto;
    padding: 20px;
    width: 920px;
    background-color: white;
    color: #666666;
}

.main_section article h2 {
    color: black;
}

p {
    text-align: justify;
}

.main_section h2,
h3 {
    text-align: center;
}

.transform_container {
    display: inline-block;
    padding-bottom: 50px;
}

.image_container {
    height: 250px;
    perspective: 600;
    position: relative;
    width: 300px;
    margin: 0px 78px;
}

.image {
    height: 250px;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.image:hover {
    transform: rotateY(180deg);
}

.image .side {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
}

.image .back {
    transform: rotateY(180deg);
}

.image .back p {
    padding: 10% 0%;
    text-align: justify;
}

.video_container {
    margin-left: 150px;
    padding-bottom: 50px;
}

.figure_container p {
    text-align: center;
}

.alumnus_container {
    display: inline-block;
}

.alumnus_container h4 {
    text-align: center;
    color: black;
}

.alumnus_container img {
    display: block;
    border-radius: 150px;
    margin-left: 25px;
}