.main_section {
    margin: 0 auto;
    padding: 20px;
    width: 920px;
    background-color: white;
    color: #666666;
}

.main_section article h2 {
    color: black;
}

.main_section h2,
h3 {
    text-align: center;
}

.footer_wrapper h3 {
    text-align: left;
}

.rotate_container {
    display: inline-block;
    padding-bottom: 50px;
}

.image_container {
    height: 200px;
    perspective: 600;
    position: relative;
    margin-left: 40px;
    width: 250px;
}

.image {
    height: 200px;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.image:hover {
    transform: rotateY(180deg);
}

.image .side {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
}

.image .back {
    transform: rotateY(180deg);
    color: white;
    background: radial-gradient(rgba(42, 119, 113, 0.801), rgba(24, 85, 85, 0.658), rgba(24, 63, 85, 0.356));
}

.image .back p {
    padding: 5% 0%;
    text-align: center;
}

.video_container {
    margin-left: 150px;
    padding-bottom: 50px;
}

.figure_container p {
    text-align: center;
}

.alumnus_container {
    display: inline-block;
}

.alumnus_container h4 {
    text-align: center;
    color: black;
}

.alumnus_container img {
    display: block;
    border-radius: 150px;
    margin-left: 25px;
}

.content:before {
    content: 'The ALUMNI Association';
    font-weight: bold;
    font-size: 22px;
    padding-left: 35%;
    color: black;
    text-shadow: gray;
}

.skew_container {
    position: relative;
    display: inline-block;
    margin-left: 100px;
    height: 400px;
    width: 700px;
    transform: skew(-2deg) rotate(2deg);
    -webkit-transform: skew(-2deg) rotate(2deg);
    -moz-transform: skew(-2deg) rotate(2deg);
    overflow: hidden;
}

.skew_container img {
    width: 120%;
    position: absolute;
    top: 50%;
    transform: skew(5deg) rotate(-15deg) translateY(-50%);
    -webkit-transform: skew(5deg) rotate(-15deg) translateY(-50%);
    -moz-transform: skew(5deg) rotate(-15deg) translateY(-50%);
}