main {
    margin: 0 auto;
    padding: 20px;
    width: 920px;
    background-image: url(../images/geometric-background.jpg);
    background-size: 960px;
    background-position: center;
    background-repeat: repeat-y;
    color: #666666;
}

#programs {
    padding: 0 100px;
}

.program_title span {
    float: right;
}

.program_content {
    display: none;
<<<<<<< HEAD
=======
}

.program_show {
    max-height: 600px;
}

#program_content_1 img {
    float: left;
}

#program_content_2 img {
    float: right;
}

#program_content_3 img {
    float: left;
}

#program_content_4 img {
    float: right;
}

#program_content_5 img {
    float: left;
}

#program_content_6 img {
    float: right;
>>>>>>> 300446a95926be97eb7f9a57376bab2064114493
}