.main_section {
    margin: 0 auto;
    padding: 20px;
    width: 920px;
    color: #666666;
    background: linear-gradient(to right, rgb(233, 192, 146) 25%, rgb(221, 195, 164) 50%, rgb(154, 175, 164) 75%, rgb(148, 185, 166) 100%);
}

.top_div {
    width: 960px;
}

#edu {
    position: absolute;
    top: 230px;
    left: 1145px;
    border-radius: 50%;
}

.rotateIcon {
    animation: rotating 3s linear infinite;
}

@keyframes rotating {
    from {
        -ms-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    to {
        -ms-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -o-transform: rotateX(360deg);
        transform: rotateX(360deg);
    }
}

.content_div {
    width: 250px;
    display: inline-block;
    margin: 0 26px;
    vertical-align: top;
}

.content_div img {
    padding: 5px;
    border: 4px lightgrey ridge;
}

.content_div a {
    color: #660000;
    text-decoration: none;
}

.content_div a:hover {
    color: #044594;
    text-decoration: underline;
}